* {
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0pt;
    position: absolute;
}

#main {
    display: flex;
    flex-direction: column;
    height: inherit;
}

/* Menubar */

#menu {
    width: 100vw;
    display: flex;
    background-color: rgb(31, 31, 31);
}

#menu .button {
    height: auto;
    background-color: rgb(58, 58, 58);
    padding: 3pt 10pt;
    margin: 3pt;
    color: rgb(255, 184, 102);
    cursor: pointer;
}

#menu .button:hover {
    background-color: rgb(87, 87, 87);
}

#menu .help{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 0;
    flex-grow: 1;
}

#menu .help .help-entry{
    white-space: nowrap;
    color: lightgray;
    padding: 5pt;
    padding-right: 15pt;
}

#menu .help .help-entry .b{
    color: rgb(156, 125, 90);
}

/* Editor */

#editor {
    flex-grow: 1;
    width: 100vw;
    height: 0;
    background-color: rgb(61, 61, 61);
    display: flex;
}

/* Tooltip */

.tooltip {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    border-radius: 5pt;
}

.tooltip .tooltip_line {
    padding: 4pt;
    background-color: rgb(27, 27, 27);
    border: 1pt solid rgb(131, 131, 131);
    color: yellow;
    font-size: 12pt;
    white-space: nowrap;
    width: min-content;
}

.tooltip .tooltip_line .icon{
    padding-left: 10pt;
    height: 12pt;
    position: relative;
    top:2pt
}

.tooltip .tooltip_line .name{
    display: inline;
}

.closable {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}

.closable.vertical {
    flex-direction: column;
}

.closable.horizontal {
    flex-direction: row;
}

.closable .button {
    background-color: gray;
}

.closable.vertical .button {
    width: 15pt;
    height: 10pt;
    margin-top: 2pt;
    margin-bottom: 3pt;
}

.closable.horizontal .button {
    width: 10pt;
    height: 15pt;
    margin-left: 2pt;
    margin-right: 3pt;
}

.closable.closable.horizontal:not(.closed) .button {
    -webkit-mask: url('close_right.svg') no-repeat center;
    mask: url('close_right.svg') no-repeat center;
}

.closable.horizontal.closed .button {
    -webkit-mask: url('close_left.svg') no-repeat center;
    mask: url('close_left.svg') no-repeat center;
}

.closable.closable.vertical:not(.closed) .button {
    -webkit-mask: url('close_down.svg') no-repeat center;
    mask: url('close_down.svg') no-repeat center;
}

.closable.vertical.closed .button {
    -webkit-mask: url('close_up.svg') no-repeat center;
    mask: url('close_up.svg') no-repeat center;
}

.closable .button:hover {
    background-color: lightgray;
}

.closable.closed .content {
    display: none;
}

.closable.vertical:not(.closed) .content {
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    flex-shrink: 1;
}

.closable.horizontal:not(.closed) .content {
    height: 100%;
    width: fit-content;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Sidebar */

#sidebar {
    width: 250pt;
    min-width: 250pt;
    height: 100%;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
}

#sidebar #sidebar_menu {
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar #splineDisplay #splineDisplayCanvas {
    background-color: rgb(43, 42, 42);
    height: 140pt;
    width: 100%;
}

#sidebar .sidebar_entry:not(.hidden) {
    width: 222pt;
    background-color: rgb(68, 67, 67);
    border: 3pt solid rgb(43, 42, 42);
    padding: 5pt;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#sidebar .sidebar_entry.assign_slices_button {
    height: 40pt;
    line-height: 40pt;
    color: white;
    text-align: center;
    display: block;
}

#sidebar .sidebar_entry.slice .grid {
    height: 60pt;
}

#sidebar .sidebar_entry.layout .grid {
    height: 40pt;
}

#sidebar .sidebar_entry.biome .color_selector, #sidebar .sidebar_entry.vanilla_biome .color_selector {
    height: 25pt;
    width: 25pt;
    min-width: 25pt;
    border: 0;
    margin: 0;
    padding: 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;   
    background-color: rgba(0,0,0,0); 
}

#sidebar .sidebar_header {
    display: flex;
}

#sidebar .sidebar_header .name {
    font-size: 22;
    padding: 5pt;
    color: rgb(255, 184, 102);
    flex-grow: 1;
}



#sidebar .sidebar_header .button {
    height: 15pt;
    width: 15pt;
    padding: 5pt;
    border-radius: 5pt;
    margin-right: 10pt;
    color: rgb(189, 189, 189);
    background-color: rgb(55, 55, 55);
    line-height: 25pt;
    text-align: center;
    display: block;
    cursor: pointer;
}

#sidebar .sidebar_header .button:hover {
    background-color: rgb(100, 100, 100);
}

#sidebar .sidebar_header .button.open {
    background-color: #6d6933;
}

#sidebar .sidebar_header .button.hide.enabled {
    background-color: rgb(126, 42, 42);
    display: block;
}

#sidebar .sidebar_header .button.hide:hover {
    background-color: rgb(88, 56, 56);
}


#sidebar .sidebar_entry:hover {
    background-color: rgb(100, 96, 90);
}

#sidebar .sidebar_entry.selected {
    background-color: rgb(138, 132, 124);
}

#sidebar .sidebar_entry.open {
    background-color: #6d6933;
}

#sidebar .sidebar_entry.dragged {
    background-color: rgb(39, 39, 39);
}

#sidebar .sidebar_entry.vanilla_biome {
    background-color: rgb(20, 20, 20);
}

#sidebar .sidebar_entry.vanilla_biome:hover {
    background-color: rgb(48, 45, 40);
}

#sidebar .sidebar_entry.vanilla_biome.selected {
    background-color: rgb(68, 65, 62);
}

#sidebar .sidebar_entry.dragover_up {
    border-top: 20pt solid rgb(43, 42, 42);
}

#sidebar .sidebar_entry.dragover_down {
    border-bottom: 20pt solid rgb(43, 42, 42);
}

#sidebar .label {
    color: white;
    text-align: center;
    padding-top: 10pt;
}

#sidebar .sidebar_entry .name {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 5pt;
    vertical-align: middle;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 12pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
}

#sidebar .sidebar_entry .button {
    width: 10pt;
    height: 10pt;
    min-width: 10pt;
    background-color: rgb(32, 32, 32);
    padding: 5pt;
    margin-left: 5pt;
    border-radius: 5pt;
    display: none;
}

#sidebar .sidebar_entry:hover:not(.dragged) .button {
    display: block;
}

#sidebar .sidebar_entry .button.delete:hover {
    background-color: rgb(88, 56, 56);
}

#sidebar .sidebar_entry .button.edit:hover {
    background-color: rgb(56, 67, 88);
}

#sidebar .sidebar_entry .button.hide.enabled {
    background-color: rgb(126, 42, 42);
    display: block;
}

#sidebar .sidebar_entry .button.hide:hover {
    background-color: rgb(88, 56, 56);
}



#sidebar .spacer {
    width: 222pt;
    height: 5pt;
    margin: 5pt;
    padding: 5pt;
    user-select: none;
}

#sidebar .search_bar {
    width: 233pt;
    padding: 5pt;
    margin: 5pt;
    background-color: rgb(36, 36, 36);
    color: rgb(199, 199, 199);
    border: 2pt solid black;
    outline: 0pt;
}

/* Assign Slices */

#assignSlices {
    margin: auto;
    min-width: 300pt;
    flex-grow: 1;
}

#assignSlices table {
    border-spacing: 0 5pt;
    cursor: default;
    user-select: none;
    margin: auto;
}

#assignSlices table tr .weirdness_name {
    text-align: right;
    color: white;
    padding-right: 10pt;
    width: 10pt;
    overflow: visible;
    white-space: nowrap;
}

#assignSlices table tr .slice_icon {
    background-color: rgb(34, 34, 34);
    padding: 10pt;
}

#assignSlices table tr .slice_icon canvas {
    height: 70pt;
}

#assignSlices table tr .slice_name {
    background-color: rgb(34, 34, 34);
    color: white;
    width: 250pt;
}

#assignSlices table tr .slice_mode_select {
    background-color: rgb(34, 34, 34);
    padding-right: 10pt;
}

#assignSlices table tr .slice_mode_select img {
    height: 25pt;
}

/* Editor */

#layoutEditor {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 300pt;
    text-align: center;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#layoutEditor #layoutName {
    display: block;
    width: 100%;
    min-width: 300pt;
    padding: 10pt;
    margin: 5pt;
    background-color: rgb(36, 36, 36, 0);
    color: rgb(255, 184, 102);
    border: 0pt;
    outline: 0pt;
    font-size: 20pt;
    text-align: center;
}

#layoutEditor #layoutEditorDiv, #layoutEditor #gridEditorDiv{
    margin: 5pt;
    height: 300pt;
    min-width: 300pt;
    flex-grow: 1;
}

#layoutEditor #layoutEditorCanvas, #layoutEditor #gridEditorCanvas {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    outline: 0;
    flex-shrink: 2;
}


.hidden {
    display: none;
}

/* Visualization */

#visualization_panel:not(.closed) {
    width: fit-content;
    flex-grow: 1;
}

#visualization {
    min-width: 300pt;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 42, 42);
    position: relative;
}

#visualization_map {
    height: 100%;
    width: 100%;
    background: rgb(82, 82, 82) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25" ><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
    background-size: 30px 30px;
}

#visualization_map  canvas.leaflet-tile{
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#visualization #toggleIsolinesButton{
    position: absolute;
    top: 62pt;
    left: 9;
    width: 20pt;
    background-color: #333333;
    padding: 3pt;
    border-radius: 5pt;
    z-index: 400;
}

#visualization #toggleIsolinesButton.enabled{
    background-color: #7e633d;
}

#visualization #toggleIsolinesButton:hover{
    background-color: #666666;
}