*{
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0pt;
    position: absolute;
}


#main{
    display: flex;
    flex-direction: column;
    height: inherit;
}

/* Menubar */
#menu {
    width: 100vw;
    display: flex;
    background-color: rgb(31, 31, 31);
}

#menu .button{
    height: auto;
    background-color: rgb(58, 58, 58);
    padding: 3pt 10pt;
    margin: 3pt;
    color: rgb(255, 184, 102);
    cursor: pointer;
}

#menu .button:hover{
    background-color: rgb(87, 87, 87);
}

/* Editor */

#editor {
    flex-grow: 1;
    width: 100vw;
    height:0;
    background-color: rgb(61, 61, 61);
    display: flex;
}

/* Tooltip */
.tooltip{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.tooltip .name{
    background-color: rgb(27, 27, 27);
    padding: 5pt;
    border: 2pt solid lightgray;
    border-radius: 5pt;
    color: yellow;
    font-size: 15pt;
}

.tooltip #spliceDisplay{
    background-color: rgb(27, 27, 27);
    padding: 5pt;
    border: 2pt solid lightgray;
    border-radius: 5pt;
    height: 100pt;
}



/* Sidebar */

#sidebar {
    width: 250pt;
    min-width: 250pt;
    height: 100%;
    background-color: rgb(43, 42, 42);
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar .sidebar_entry:not(.hidden){
    width: 222pt;
    background-color: rgb(68, 67, 67);
    border: 3pt solid rgb(43, 42, 42);
    padding: 5pt;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#sidebar .sidebar_entry.assign_slices_button{
    height: 40pt;
    line-height: 40pt;
    color: white;
    text-align: center;
    display: block;
}



#sidebar .sidebar_entry.slice .grid{
    height: 60pt;
}

#sidebar .sidebar_entry.layout .grid{
    height: 40pt;
}

#sidebar .sidebar_entry.biome .color_selector, #sidebar .sidebar_entry.vanilla_biome .color_selector{
    height: 25pt;
    width: 25pt;
    min-width: 25pt;
    border: 0;
    margin: 0;
    padding: 0;
}


#sidebar .sidebar_entry.add_layout_button{
    height: 25pt;
    color: rgb(189, 189, 189);
    background-color: rgb(55, 55, 55);
    line-height: 25pt;
    text-align: center;
    display: block;
}

#sidebar .sidebar_entry:hover{
    background-color: rgb(100, 96, 90);
}

#sidebar .sidebar_entry.selected{
    background-color: rgb(138, 132, 124);
}

#sidebar .sidebar_entry.open{
    background-color: #6d6933;
}

#sidebar .sidebar_entry.dragged{
    background-color: rgb(39, 39, 39);
}


#sidebar .sidebar_entry.vanilla_biome{
    background-color: rgb(20, 20, 20);
}

#sidebar .sidebar_entry.vanilla_biome:hover{
    background-color: rgb(48, 45, 40);
}

#sidebar .sidebar_entry.vanilla_biome.selected{
    background-color: rgb(68, 65, 62);
}

#sidebar .sidebar_entry.dragover_up{
    border-top: 20pt solid rgb(43, 42, 42);
}

#sidebar .sidebar_entry.dragover_down{
    border-bottom: 20pt solid rgb(43, 42, 42);
}


#sidebar .label{
    color: white;
    text-align: center;
    padding-top: 10pt;
}


#sidebar .sidebar_entry .name{
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 5pt;
    vertical-align: middle;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 12pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
}


#sidebar .sidebar_entry .button{
    width: 10pt;
    min-width: 10pt;
    background-color: rgb(32, 32, 32);
    padding: 5pt;
    margin-left: 5pt;
    border-radius: 5pt;
    display: none;
}

#sidebar .sidebar_entry:hover:not(.dragged) .button{
    display: block;
}

#sidebar .sidebar_entry .button.delete:hover{
    background-color: rgb(88, 56, 56);
}

#sidebar .sidebar_entry .button.edit:hover{
    background-color: rgb(56, 67, 88);
}


#sidebar .spacer{
    width: 222pt;
    height: 5pt;
    margin: 5pt;
    padding: 5pt;
    user-select: none;
}

#sidebar .search_bar{
    width: 233pt;
    padding: 5pt;
    margin: 5pt;
    background-color: rgb(36, 36, 36);
    color: rgb(199, 199, 199);
    border: 2pt solid black;
    outline: 0pt;
}

/* Assign Slices */
#assignSlices{
    margin: auto;
}

#assignSlices table{
    border-spacing: 0 5pt;
    cursor: default;    
    user-select: none;
    margin: auto;
}

#assignSlices table tr .weirdness_name{
    text-align: right;
    color: white;
    padding-right: 10pt;
    width: 10pt;
    overflow: visible;
    white-space: nowrap;
}


#assignSlices table tr .slice_icon{
    background-color: rgb(34, 34, 34);
    padding: 10pt;
}

#assignSlices table tr .slice_icon canvas{
    height: 70pt;
}

#assignSlices table tr .slice_name{
    background-color: rgb(34, 34, 34);
    color: white;
    width: 250pt;
}

#assignSlices table tr .slice_mode_select{
    background-color: rgb(34, 34, 34);
    padding-right: 10pt;
}

#assignSlices table tr .slice_mode_select img{
    height: 25pt;
}

/* Editor */

#layoutEditor{
    flex-grow: 1;
    height: 100%;
    min-width: 300pt;
    text-align: center;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#layoutEditor #layoutName{
    display: block;
    width: 100%;
    padding: 10pt;
    margin: 5pt;
    background-color: rgb(36, 36, 36, 0);
    color: rgb(255, 184, 102);
    border: 0pt;
    outline: 0pt;
    font-size: 20pt;
    text-align: center;
}

#layoutEditor #layoutEditorDiv{
    margin: 5pt;
    height: 300pt;
    flex-grow: 1;
}

#layoutEditor #layoutEditorCanvas{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    outline: 0;
    flex-shrink: 2;
}


/* Old */

#sliceEditor {
    float: left;
    width: 520pt;
}



#visualization {
    width: 40%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    float: left;
}

.selectionElement {
    width: 30pt;
    height: 30pt;
    padding: 0pt 0pt 0pt 0pt;
    user-select: none;
    cursor: pointer;
}

.sliceTable {
    align-self: center;
    margin: 10pt;
    padding: 10pt;
    background-color: rgb(94, 94, 94);
}

.sliceTable .TopHeader {
    color: lightblue;
    text-align: center;
}

.sliceTable .SideHeader {
    color: lightblue;
    text-align: right;
}


.hidden{
    display: none;
}